body{
 background-color: pink;
 color: white;
}
header{
 
  text-align: center;

}
header img{
 width: 400px;
 border-radius: 10px;
 margin: 25px;
}
.contacto{
  display: flex;
  justify-content: center;

}
.icono{
  width: 60px;
}
p{
  margin: 10px;
}


  .contacto{
    margin: 60px;
  }


